
#messageList {
    max-height: 2.4em;
    line-height: 1.2em;
    overflow-y:auto;
}

#messageList .errorMessage {
    color: red;
    font-weight: bold;
}

#messageList .messageSent {
    color: blue;
}

#messageList .messageReceived {
    color: brown;
    font-weight: bold;
}

#messageList .announcement {
    color: darkred;
    font-weight: bold;
}

#messageBoxToggleHide {
    display: none;
}
#messageBoxToggleShow {
    display: none;
}

.messageBoxToggle {
    cursor: pointer;
}
