
#messageList {
    height:3.6em;
    line-height: 1.2em;
    overflow-y:auto;
}

#messageList .errorMessage {
    color: red;
    font-weight: bold;
}

#messageList .adminMessage {
    color: aqua;
}