.questionContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}
.questionName {
    font-weight: bold;
    color: blue;
}
.questionDisabled {
    color: grey;
}

.roundHeading {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}
.roundQuestion {
    padding-left: 15px;
    border-left: 2px solid blue;
}

.answerCorrect {
    font-weight: bold;
}
.answerCorrectString {
    color: green;
}
