.questionDiv {
    margin-top: 10px;
}
.questionName {
    font-weight: bold;
    color: blue;
}
.questionListSection, .adminQuestionListSectionn {
    margin-top: 25px;
}

.questionDisabled {
    color: grey;
}

.roundHeading {
    font-weight: bold;
    color: red;
}
.roundQuestion {
    margin-left: 25px;
}