{% extends "basepage.html" %}
{% autoescape None %}

{%block title%}Admin Team Viewer: {{team.name}}{%end%}
{%block extraheaders%}
<script src="static/admin.js"></script>
<link rel="stylesheet" type="text/css" href="static/admin.css" />
<link type="text/css" rel="stylesheet" href="static/team.css" />
<script>initialiseSection("adminQuestion:{{team.name}}", standardSectionCheckToggle("adminQuestion"), []);</script>
<script>initialiseSection("adminPenalty:{{team.name}}", standardSection("adminPenalty"), []);</script>
{%end%}

{%block contents %}
<div id="adminPenalty"></div>
<div id="adminQuestion"></div>
{%end%}