{% extends "basepage.html" %}
{% autoescape None %}

{%block title%}Admin Page{%end%}
{%block extraheaders%}
<script src="static/admin.js"></script>
<link rel="stylesheet" type="text/css" href="static/admin.css" />
{%end%}

{%block contents %}
<form action="Javascript:void(0);">
    team name ("all" for announcement to all teams): <input type="text" id="teamMessageName" /><br />
    message: <input type="text" id="teamMessage" /><br />
    <button onclick="messageTeam();">Send message to team</button>
</form>
<div id="answerQueue">
</div>
{%end%}