{% extends "basepage.html" %}
{% autoescape None %}

{%block title%}Admin Page{%end%}
{%block extraheaders%}
<script src="static/admin.js"></script>
<script src="static/beeper.js"></script>
<link rel="stylesheet" type="text/css" href="static/admin.css" />
<script>
    $(function () {
        $("#accordion").accordion({ heightStyle: "content", collapsible: true });
    });
    function postSectionUpdate() {
        $("#accordion").accordion("refresh");
    }
    initialiseSection("answerQueue", standardSection("answerQueue", beeper), []);
</script>
<style>
    html, body {height: 100%; margin:0; box-sizing: border-box;}
    body { padding: 8px;}
    div {box-sizing: border-box;}
</style>
{%end%}

{%block contents %}
    <div id="accordion">
        <h3 id="answerQueueHeader">Answer Queue</h3>
        <div id="answerQueue">
            No answers currently
        </div>

        <h3>Send Messages</h3>
        <form action="Javascript:void(0);">
            team name: 
            <select id="teamMessageName">
                <option value="all">all</option>
                {%for team in CTX.teams%}
                <option value="{{team.name}}">{{team.fullName}}</option>
                {%end%}
            </select>
            message: <input type="text" id="teamMessage" /><br />
            <button onclick="messageTeam();">Send message to team</button>
        </form>

        <h3>Team Viewer</h3>
        <form method="get" action="adminTeamViewer">
            {% include components/teamListRadio.html %}
            <input type="submit" value="View this team" />
        </form>

        <h3>Other Pages</h3>
        <div>
            <a href="scorescore">score page</a><br />
            <a href="adminQuestionViewer">question viewer</a>
        </div>

        <h3>Hunt Controls</h3>
        <div>
            <button onclick="sendMessage('startHunt')" {% if CTX.state.huntStarted %}disabled{% end %}>Start Hunt</button><br /><br />
            <script type="text/javascript">
                function changeTimer() {
                    validLetters = /^[0-9:]+$/;
                    if (validLetters.test($('#timerDelay')[0].value)) {
                        sendMessage('setTimer ' + window.btoa($("#timerMessage")[0].value) + " " + $('#timerDelay')[0].value);
                    } else {
                        logError("Invalid timer delay - should be in form seconds, mm:ss or hh:mm:ss");
                    }
                }
            </script>
            Display Timer:<br />
            <input type="text" id="timerMessage" placeholder="Message to display" style="width: 100%" /><br />
            <input type="text" id="timerDelay" placeholder="Delay" style="width: 8ch" /> (secs, mm:ss, or hh:mm:ss)<br />
            <button onclick="changeTimer()">Set Timer</button>
        </div>
    </div>
{%end%}