{% autoescape None %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}KPH{% end %}</title>
    <!-- make it look ok-ish on a phone -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="static/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.12.1/jquery-ui.min.css" />
    <script src="static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="static/sections.js"></script>
    <script src="static/messaging.js"></script>
    <script src="static/countdown.js"></script>
    <link rel="stylesheet" type="text/css" href="static/messaging.css" />
    {% block extraheaders %}{%end%}
</head>
<body>
    <div id="messageList"></div>
    <div id="countdownDiv"></div>
    <a href="\login">Logout</a><br />

    {% block contents %}
    {% end %}

</body>
</html>