{% autoescape None %}

{# to disable either of these, create a predefinitions block setting them to false #}
{% set enableMessageBox = True %}
{% set enableCountdown = True %}
{% set enableLogout = True %}
{% set enableBackToAdmin = False %}

{% block predefinitions %}{% end %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}KPH{% end %}</title>
    <!-- make it look ok-ish on a phone -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="static/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.12.1/jquery-ui.min.css" />
    <script src="static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="static/sections.js"></script>
    <script src="static/messaging.js"></script>
    <link rel="stylesheet" type="text/css" href="static/messaging.css" />
    {% block extraheaders %}{% end %}
</head>
<body>
    {% if enableMessageBox %}
      <script src="static/messageBox.js"></script>
      <div id="messageList"></div>
    {% else %}
      <script src="static/messageBoxDisabled.js"></script>
    {% end %}
    {% if enableCountdown %}
      <script src="static/countdown.js" defer></script>
      <div id="countdownDiv"></div>
    {% end %}
    {% if enableLogout %}
      <a href="\login">Logout</a><br />
    {% end %}
        {% if enableBackToAdmin %}
      <a href="\admin">Back to admin overview</a><br />
    {% end %}

    {% block contents %}
    {% end %}

</body>
</html>