{% extends "basepage.html" %}
{% autoescape None %}

{%block predefinitions%}
{% set enableMessageBox = False %}
{% set enableLogout = False %}
{%end%}

{%block extraheaders%}
<link rel="stylesheet" type="text/css" href="static/score.css" />
{%end%}
{%block title%}Score{%end%}

{%block contents %}

    <div class="scoreList">
    <pre>
{{questionList}}	
    {% for teamScore in teamScoreList %}
        <span class="teamName">{{teamScore.name}}{{teamScore.fullScore}} {{teamScore.score}}</span>
    {% end %}
    </pre>
    </div>


{%end%}