{%autoescape None%}
{%set question = answer.question%}

<div class="question{%if not answer.enabled%} questionDisabled{%end%}">
    <div class="questionName">Question: {{question.name}}</div>
    {%if question.question%}
    <div class="questionDescription">{{question.question}}</div>
    {%end%}
</div>
<div class="answer">
    {%if answer.correct()%}
    <div class="answerCorrect">Correct answer submitted: {{answer.answer}}</div>
    {%end%}
    <div class="hints">
        {%for hint in question.hints[:answer.hintCount]%}
        <div class="hintText">{{hint["hint"]}}</div>
        {%end%}
        {%if answer.canRequestHint()%}
        <div class="hintRequest">
            <button onclick="requestHint('{{question.id}}', {{question.hints[answer.hintCount]["cost"]}});">Request Hint</button> (cost: {{question.hints[answer.hintCount]["cost"]}} points)
        </div>
        {%end%}
    </div>
    {%if answer.previousAnswers %}
    <div class="previousAnswers">
        Previously submitted incorrect answers: <br />
        {{ ", ".join(answer.previousAnswers)}}
    </div>
    {%end%}
    {%if answer.awaitingAnswer()%}
    <div class="submittedAnswer">
        Submitted answer awaiting marking: {{answer.answer}}
    </div>
    {%elif answer.canSubmitAnswer()%}
    <div class="answerRequest">
        <form action="javascript:void(0)">
            <input id="{{question.id}}Answer" type="text" name="" />
            <button onclick="submitAnswer('{{question.id}}')">Submit answer</button>
        </form>
    </div>
    {%end%}
</div>
